.inset {
    border-style: inset;
}

.outset {
    border-style: outset;
}

.center {
    text-align: center;
}

.fivesec {
    animation-delay: 5s;
    animation-duration: 3s;
}

.four {
    animation-delay: 4s;
    animation-duration: 4s;
}