
body {
    background-color: #D5D6AA;
}
.inset {
    border-style: inset;
}

.outset {
    border-style: outset;
}

.center {
    text-align: center;
}

.fivesec {
    animation-delay: 5s;
    animation-duration: 3s;
}

.four {
    animation-delay: 4s;
    animation-duration: 2s;
}
 .margin {
    margin-bottom: 70px;
 }

 .margin2 {
    margin-bottom: 50px;
 }